body {
    background: #f0f4ff;
    color: #333;
    font-family: Arial, sans-serif;
}

.game-wrapper {
    width: 100%;
    height: 100vh;
    background: url(skullbg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-box {
    width: 85%;
    height: 800px;
    background: #448169;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 20px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    width: 65%;
}

.right-side {
    width: 30%;
    text-align: center;
    justify-items: center;
}

.ug {
    font-size: 35px;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.asuult {
    display: flex;
    align-content: center;
    font-size: 40px;
}

.keyboard {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.keyboard .letter {
    width: 90px;
    height: 9   0px;
    margin: 4px;
    background: #222732;
    color: #448169;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-weight: bold;
    font-size: 40px;
}

.keyboard .letter:disabled {
    background: #d0d0d0;
    color: #777;
}

.hun img {
    width: 400px;
    height: auto;
    margin-top: 70px;
}

.miss {
    margin-top: 20px;
    font-size: 20px;
    background-color: #25503f;
    width: 120px;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    color: white;
}

.garchig{
    align-self:start;
    font-size: 120px;
  
}

#nextBtn{
    font-size: 40px;
    border-radius: 15px;
    background-color: #25503f;
    border: none;
}

.next{
    display: flex;
    align-items: baseline;
}